name: Rust Quality Pipeline for PRs

on:
  pull_request:
    branches:
      - main

jobs:
  quality:
    uses: unbounded-tech/workflows-rust/.github/workflows/quality.yaml@v2.2.1
    with:
      cargo_incremental: true

