name: Rust Quality Pipeline for PRs

on:
  pull_request:
    branches:
      - main

jobs:
  quality:
    uses: unbounded-tech/workflows-rust/.github/workflows/quality.yaml@v1.4.2
    with:
      cargo_incremental: true

