name: On Version Tagged, Build and Publish Rust Binaries
on:
  push:
    tags:
    - "v*.*.*"

permissions:
  contents: write

jobs:
  build-and-release:
    uses: unbounded-tech/workflows-rust/.github/workflows/release.yaml@v2.2.1
    with:
      binary_name: ${{ github.event.repository.name }}
      build_args: "--release --features vendored"
